.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.leftPanel {
  height: 100vh;
  flex: 1;
}

.midPanel {
  flex: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.docView {
  flex: 2;
}

.listView {
  flex: 5;
}

.rightPanel {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.expressionsView {
  flex: 5;
}
.userView {
  flex: 2;
}
